<p-toast position="bottom-right"></p-toast>

<p-table #dt [columns]="scrollableCols" scrollHeight="500px"  [autoLayout]="true" [value]="timeSheets"
  [scrollable]="true" [filterDelay]="0" [globalFilterFields]="['consultatName']" [resizableColumns]="true"
  columnResizeMode="expand" [reorderableColumns]="true" [lazy]="true" (onLazyLoad)="loadCarsLazy($event)"
  [paginator]="true" [rows]="20" [totalRecords]="totalRecords" [loading]="loading"
  currentPageReportTemplate="Total {{totalRecords}} Records" [showCurrentPageReport]="true"
  [style]="{'text-align': 'center', 'font-size': '14px'}"  [loading]="loading">
  <ng-template pTemplate="caption" let-title>
    <span class="text-right" *ngIf="totalRecords">Total {{totalRecords}} Records </span>
    <a routerLink="/submissions/create" class="btn btn-primary">
      Add Submission
    </a>
</ng-template>
  <ng-template pTemplate="colgroup" let-columns>
    <colgroup>
      <col style="width:90px">
      <col *ngFor="let col of columns" style="width:200px">
      <col style="width:200px">
      <col style="width:200px">
    </colgroup>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th>Action</th>
      <th></th>
      <th>Consultant</th>

      <th *ngFor="let col of columns" [ngStyle]="{'width': col.width}">
        {{col.header}}
      </th>
    </tr>
    <tr>
      <th> <button (click)="clearFilters(dt)">Clear Fields</button></th>
      <th> <input pInputText type="date" [value]="dt.filters['created_at'] ? dt.filters['created_at'].value : ''"
          (input)="dt.filter($event.target.value, 'created_at', 'startsWith')" placeholder="Created At"
          class="p-column-filter"></th>
      <th>
        <!-- <input pInputText type="text"
          [value]="dt.filters['consultant.consultatName'] ? dt.filters['consultant.consultatName'].value : ''"
          (input)="dt.filter($event.target.value, 'consultant.consultatName', 'startsWith')" placeholder="First Name"
          class="p-column-filter"> -->
        <p-dropdown  appendTo="body" [options]="cities"  [(ngModel)]="selectedCity" [filter]="true" filterBy="label,value"
          [autoWidth]="false" [style]="pDropdownStyle"
          (onChange)="dt.filter($event.value, 'reportId', 'startsWith')" placeholder="Choose Consultant"
          class="p-column-filter"></p-dropdown>
      </th>

      <th>
        <p-multiSelect appendTo="body"  [options]="statusesVendor"  [(ngModel)]="selectedStatus" [filter]="true" filterBy="label,value"
          [style]="pDropdownStyle"
          (onChange)="dt.filter($event.value, 'vendorStatus', 'startsWith')" placeholder="Choose Status"
          class="p-column-filter"></p-multiSelect>


      </th>
      <th>
        <input pInputText type="text"
          [value]="dt.filters['technology'] ? dt.filters['technology'].value : ''"
          (input)="dt.filter($event.target.value, 'technology', 'startsWith')" placeholder="Technology"
          class="p-column-filter">
      </th>
      <th>
        <input pInputText type="text"
          [value]="dt.filters['vendorCompanyName'] ? dt.filters['vendorCompanyName'].value : ''"
          (input)="dt.filter($event.target.value, 'vendorCompanyName', 'startsWith')" placeholder="Company Name"
          class="p-column-filter">
      </th>
      <th>
        <input pInputText type="text" [value]="dt.filters['vendorName'] ? dt.filters['vendorName'].value : ''"
          (input)="dt.filter($event.target.value, 'vendorName', 'startsWith')" placeholder="Name"
          class="p-column-filter">
      </th>
      <th>
        <input pInputText type="text" [value]="dt.filters['vendorEmail'] ? dt.filters['vendorEmail'].value : ''"
          (input)="dt.filter($event.target.value, 'vendorEmail', 'startsWith')" placeholder="Vendor Email"
          class="p-column-filter">
      </th>
      <th>
        <input pInputText type="text"
          [value]="dt.filters['vendorMobileNumber'] ? dt.filters['vendorMobileNumber'].value : ''"
          (input)="dt.filter($event.target.value, 'vendorMobileNumber', 'startsWith')" placeholder="Vendor Mobile"
          class="p-column-filter">
      </th>
      <th>
        <input pInputText type="text" [value]="dt.filters['endClientName'] ? dt.filters['endClientName'].value : ''"
          (input)="dt.filter($event.target.value, 'endClientName', 'startsWith')" placeholder="End Clinet"
          class="p-column-filter">
      </th>
      <th>
        <input pInputText type="text" [value]="dt.filters['actualRate'] ? dt.filters['actualRate'].value : ''"
          (input)="dt.filter($event.target.value, 'actualRate', 'startsWith')" placeholder="actualRate"
          class="p-column-filter">
      </th>
      <th>
        <input pInputText type="text" [value]="dt.filters['submissionRate'] ? dt.filters['submissionRate'].value : ''"
          (input)="dt.filter($event.target.value, 'submissionRate', 'startsWith')" placeholder="submissionRate"
          class="p-column-filter">
      </th>

    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns" let-editing="editing" let-ri="rowIndex">

    <tr [pEditableRow]="rowData" [ngStyle]="{'background-color':getColor(rowData.vendorStatus)}">
      <td style="text-align:center">

        <a (click)="showModalDialog(rowData)" class="btn btn-warning btn-sm">Edit</a> &nbsp;
        <a (click)="showModalDialog1(rowData.vendorComments)" tabindex="0" data-toggle="popover" data-trigger="focus"
          title="" data-original-title="Note"><img src="./assets/img/sticky.png"></a>
      </td>
      <td>
        {{rowData.user_details.name}} <br> {{rowData.created_at|date}}
      </td>
      <td>
        {{rowData.consultant.consultatName}}
      </td>
      <td *ngFor="let col of columns">
        {{rowData|field:col}}
      </td>
    </tr>
  </ng-template>
</p-table>
<p-confirmDialog key="confirm-drop-database" header="Confirmation" acceptLabel="Yes" rejectLabel="No"
  [(visible)]="confirmDropDatabaseDialogVisible"></p-confirmDialog>

<p-dialog header="Status Change" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}"
  [baseZIndex]="10000" [draggable]="false" [resizable]="false">
  <h5> {{heading1}}</h5>
  <form [formGroup]="registerVendor" (ngSubmit)="registerUser(submissionId)">
    <div class="row">
      <div class="col-lg-12">
        <div class="form-group">
          <label for="popstatus">Status:</label>

          <select class="form-control" #seleectevalue formControlName="vendorStatus">
            <option value="">--select--</option>
            <option value="Placed">Placed</option>
            <option value="Interview scheduled">Interview scheduled</option>
            <option value="Submitted to Client">Submitted to Client</option>
            <option value="Submitted to Vendor">Submitted to Vendor</option>
            <option value="Disqualified">Disqualified</option>
            <option value="Client rejected">Client rejected</option>
            <option value="Vendor Rejected">Vendor Rejected</option>
            <option value="Vendor screening call">Vendor screening call</option>
            <option value="Waiting for Evaluation">Waiting for Evaluation</option>
          </select>
        </div>
      </div>
      <div class="col-lg-8" *ngIf="seleectevalue.value == 'Interview scheduled'">
        <div class="form-group schedulepopdiv">
          <label for="schedulepop">Schedule Date:</label>
          <input type="date" class="form-control" formControlName="scheduleDate" value="2020-11-21 10:43:17"><br>

        </div>
      </div>
      <div class="col-lg-4" *ngIf="seleectevalue.value == 'Interview scheduled'">
        <div class="form-group schedulepopdiv">
          <label for="timezone">Time Zone:</label>
          <select class="form-control" formControlName="timezone">
            <option value="">Choose Time Zone</option>
            <option value="EST">EST</option>
            <option value="PST">PST</option>
            <option value="CST">CST</option>
            <option value="MST">MST</option>
          </select>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="form-group">
          <label for="notepop">Comment:</label>
          <textarea class="form-control" formControlName="vendorComments"></textarea>

        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary btn-round">Update</button>
  </form>


  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="displayModal=true" label="Yes" class="p-button-text"></p-button>
    <p-button icon="pi pi-times" (click)="displayModal=false" label="No"></p-button>
  </ng-template>
</p-dialog>

<p-dialog header="Note" [(visible)]="displayModal1" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
  [draggable]="false" [resizable]="false">

  <p>{{comment}}</p>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="displayModal1=true" label="Yes" class="p-button-text"></p-button>
    <p-button icon="pi pi-times" (click)="displayModal1=false" label="No"></p-button>
  </ng-template>
</p-dialog>
