<p-toast></p-toast>
<!-- prime table-->
<div class="card">
  <!-- <p-messages [value]="msgs"></p-messages> -->
  <p-table #dt1 [value]="hotlists" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
    [loading]="loading" [rowHover]="true"  [autoLayout]="true"
    [filterDelay]="0"  columnResizeMode="expand" [reorderableColumns]="true"
    styleClass="p-datatable-consultants  p-datatable-gridlines">

    <ng-template pTemplate="caption">

      <div class="p-d-flex">
        <button pButton label="Clear" class="p-button-outlined p-mr-4" icon="pi pi-filter-slash"
          (click)="clear(dt1)"></button>


        <div class="p-d-flex p-ai-right ">
          <button type="button" style="height:30px" pButton  icon="pi pi-file-o" (click)="dt.exportCSV()" class="p-mr-2" pTooltip="CSV" tooltipPosition="bottom"></button>
          <button type="button" style="height:30px" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success p-mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>
          <button type="button" style="height:30px" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning p-mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>

      </div>

      <div class="p-d-flex">Hot List</div>
      </div>

    </ng-template>

    <ng-template pTemplate="header">
      <tr>



        <th >
          <div class="p-d-flex p-jc-between p-ai-center">
            Name
            <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
          </div>
        </th>


        <th >
          <div class="p-d-flex p-jc-between p-ai-center">
            Technology
            <p-columnFilter field="technologies" matchMode="in" display="menu" [showMatchModes]="false"
              [showOperator]="false" [showAddButton]="false">
              <ng-template pTemplate="header">
                <div class="p-px-3 p-pt-3 p-pb-0">
                  <span class="p-text-bold">Choose Technology</span>
                </div>
              </ng-template>
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-multiSelect [ngModel]="value" [options]="technologieslist" placeholder="Any"
                  (onChange)="filter($event.value)" optionLabel="name">
                  <ng-template let-option pTemplate="item">
                    <div class="p-multiselect-representative-option">
                      <span class="p-ml-1">{{option.name}}</span>
                    </div>
                  </ng-template>
                </p-multiSelect>
              </ng-template>
            </p-columnFilter>
          </div>
        </th>
        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
            Experience
            <p-columnFilter type="text" field="experience" display="menu"></p-columnFilter>
          </div>
        </th>
        <th >
          <div class="p-d-flex p-jc-between p-ai-center">
            State
            <p-columnFilter type="text" field="state" display="menu"></p-columnFilter>
          </div>
        </th>
        <th >
          <div class="p-d-flex p-jc-between p-ai-center">
            Relocate
            <p-columnFilter type="text" field="willingLocation" display="menu"></p-columnFilter>
          </div>
        </th>
        <th>
          <div class="p-d-flex p-jc-between p-ai-center">
            Visa Type
            <p-columnFilter type="text" field="visaType" display="menu"></p-columnFilter>
          </div>
        </th>




      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-consultant let-expanded="expanded">
      <tr>


        <td>
          {{consultant.first_name}}
        </td>

        <td>
          <span class="image-text">{{consultant.technologies.name}}</span>
        </td>
        <td>
          {{consultant.experience }}
        </td>
        <td>
          {{consultant.state}}
        </td>
        <td>
          {{consultant.willingLocation}}
        </td>
        <td>
          {{consultant.visaType }}
        </td>






      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="7">No HotList found.</td>
      </tr>
    </ng-template>

  </p-table>
</div>



