<p-toast></p-toast>
<!-- prime table-->
<p-dialog [(visible)]="consultantDialog" [style]="{width: '50vw'}" [baseZIndex]="10000" header="Consultant Details"
  [modal]="true" styleClass="p-fluid">

  <ng-template pTemplate="content">
    <form [formGroup]="consultantForm" (ngSubmit)="updateConsultantDetails()" enctype="multipart/form-data">

      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col">
          <label for="firstname1">First Name:</label>
          <input type="text" pInputText id="first_name" formControlName="first_name" formControlName="first_name"
            pTooltip="Enter your First Name" />
          <small class="p-invalid" *ngIf="submitted && !first_name">First Name is .</small>
        </div>
        <div class="p-field p-col">
          <label for="lastname1">Last Name:</label>
          <input type="text" pInputText id="name" formControlName="last_name" />
          <small class="p-invalid" *ngIf="submitted && !last_name">Last Name is .</small>
        </div>
        <div class="p-field p-col">
          <label for="firstname1">Email:</label>
          <input type="email" pInputText id="email" formControlName="consultant_email" />
          <small class="p-invalid" *ngIf="submitted && !last_name">Email is .</small>
        </div>
        <div class="p-field p-col">
          <label for="consultant_mobile_number">Mobile Number:</label>
          <p-inputMask formControlName="consultant_mobile_number" mask="(999) 999-9999"></p-inputMask>
          <small class="p-invalid" *ngIf="submitted && !last_name">Email is .</small>
        </div>
      </div>

      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-4">
          <label for="firstname1">Technology:</label>
          <!-- <p-dropdown [options]="technologies" formControlName="technology_id" optionLabel="name"
            optionValue="technology_id">
          </p-dropdown> -->
          <p-dropdown [options]="technologies" formControlName="technology_id" [style]="{'width':'100%'}"
            scrollHeight="400px" filter="true" filterBy="name,technology_id" resetFilterOnHide="true">
          </p-dropdown>
          <div *ngIf="technology_id.invalid && (technology_id.dirty || technology_id.touched)"
            class="form-text text-muted">
            <div *ngIf="technology_id.errors?.required">
              Technology is required.
            </div>

          </div>
        </div>
        <div class="p-field p-col-4">
          <label for="Visa">Visa Type:</label>
          <p-dropdown [options]="visaTypes" formControlName="visaType" optionLabel="name" optionValue="value">
          </p-dropdown>
          <small class="p-invalid" *ngIf="submitted && !last_name">VISA is Required</small>
        </div>
        <div class="p-field p-col-2">
          <label for="experience">Experience:</label>
          <p-inputNumber id="experience" formControlName="experience"></p-inputNumber>
          <small class="p-invalid" *ngIf="submitted && !experience">Exp is Required</small>
        </div>
        <div class="p-field p-col-2">
          <label for="price">Rate:</label>
          <p-inputNumber id="price" formControlName="rate" mode="currency" currency="USD" locale="en-US">
          </p-inputNumber>
          <small class="p-invalid" *ngIf="submitted && !rate">Required</small>
        </div>
      </div>

      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-4">
          <label for="ssn">Last 4 Digit SSN:</label>
          <p-inputNumber formControlName="ssn" [format]="false" [maxlength]="4"></p-inputNumber>
          <small class="p-invalid" *ngIf="submitted && !ssn">SSN is Required</small>
        </div>
        <div class="p-field p-col-4">
          <label for="city">City:</label>
          <input type="text" pInputText id="city" formControlName="city" />
          <small class="p-invalid" *ngIf="submitted && !city">City is Required</small>
        </div>
        <div class="p-field p-col-4">
          <label for="state">State:</label>
          <p-dropdown [options]="states" formControlName="state" optionLabel="name" optionValue="value">
          </p-dropdown>
          <small class="p-invalid" *ngIf="submitted && !state">State is Required</small>
        </div>


      </div>

      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-4">
          <label for="city">Priority:</label>
          <p-dropdown [options]="priority" formControlName="priority" optionLabel="name" optionValue="value">
          </p-dropdown>

        </div>
        <div class="p-field p-col-4">
          <label for="relocate">Relocate:</label>
          <input type="text" pInputText id="willingLocation" formControlName="willingLocation" />

        </div>
        <div class="p-field p-col-4">
          <label for="documentsCollected">Documents Collected:</label>
          <input type="text" pInputText id="documentsCollected" formControlName="documentsCollected" />
        </div>

      </div>
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-4">
          <label for="resources">Resource:</label>
          <p-dropdown [options]="resources" formControlName="resource" optionLabel="name" optionValue="value">
          </p-dropdown>

        </div>
        <div class="p-field p-col-4">
          <label for="Availabity">Availabity:</label>
          <input type="text" pInputText id="availabity" formControlName="availabity" />

        </div>
        <div class="p-field p-col-4">
          <label for="consultant_status">Consultant Status:</label>
          <p-dropdown [options]="statuses" formControlName="consultant_status" optionLabel="label" optionValue="value">
          </p-dropdown>
        </div>

      </div>
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-4">
          <label for="city">Best Contact Number:</label>
          <p-inputMask formControlName="bestContactNumber" mask="(999) 999-9999"></p-inputMask>
          <small class="p-invalid" *ngIf="submitted && !bestContactNumber">Best Mobile is .</small>
        </div>
        <div class="p-field p-col-4">
          <label for="skypeId">SkypeID:</label>
          <input type="text" pInputText id="skypeId" formControlName="skypeId" />

        </div>
        <div class="p-field p-col-4">
          <label for="linkedInUrl">LinkedIn ID:</label>
          <input type="text" pInputText id="linkedInUrl" formControlName="linkedInUrl" />
        </div>
      </div>
      <div class="p-field">


        <button type="submit" class="btn btn-primary btn-round" [disabled]="!consultantForm.valid">Update
          Consultant</button>
      </div>

    </form>
  </ng-template>
  <ng-template pTemplate="footer">

  </ng-template>


</p-dialog>
<p-confirmDialog [style]="{width: '50vw'}" key="positionDialog" [position]="position" [baseZIndex]="10000">
</p-confirmDialog>
<p-table [value]="consultants" dataKey="name" 
[lazy]="true" (onLazyLoad)="loadConsultants($event)" [rows]="5" [totalRecords]="totalRecords" 
[showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,50]"
  [autoLayout]="true" [loading]="loading" [paginator]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} consultants"
  (onRowExpand)="onRowExpand($event)">
  <ng-template pTemplate="caption">

    <div class="p-d-flex">

      <div class=" p-d-flex p-ai-center p-jc-between">Consultant Documents</div>


    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 1rem"></th>
      <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon>
      </th>
      <th pSortableColumn="consultant_status">Status <p-sortIcon field="consultant_status"></p-sortIcon>
      </th>
      <th pSortableColumn="consultant_email">Email <p-sortIcon field="consultant_email"></p-sortIcon>
      </th>
      <th pSortableColumn="consultant_mobile_number">Mobile Number <p-sortIcon field="consultant_mobile_number">
        </p-sortIcon>
      </th>
      <th pSortableColumn="visaType">Visa Type <p-sortIcon field="visaType"></p-sortIcon>
      </th>
      <th pSortableColumn="visaType">Visa Type <p-sortIcon field="visaType"></p-sortIcon>
      </th>

    </tr>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>
        <div class="p-d-flex p-jc-between p-ai-center">

        </div>
      </th>
      <th>
        <div class="p-d-flex p-jc-between p-ai-center">
          Days in Bench
        </div>
      </th>
      <th>
        <div class="p-d-flex p-jc-between p-ai-center">
          Name
          <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
        </div>
      </th>


      <th>
        <div class="p-d-flex p-jc-between p-ai-center">
          Status
          <p-columnFilter field="consultant_status" matchMode="equals" display="menu">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)" placeholder="Any">
                <ng-template let-option pTemplate="item">
                  <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                </ng-template>
              </p-dropdown>
            </ng-template>
          </p-columnFilter>
        </div>
      </th>
      <th>
        <div class="p-d-flex p-jc-between p-ai-center">
          Email
          <p-columnFilter type="text" field="consultant_email" display="menu"></p-columnFilter>
        </div>
      </th>
      <th>
        <div class="p-d-flex p-jc-between p-ai-center">
          Phone Number
          <p-columnFilter type="text" field="consultant_email" display="menu"></p-columnFilter>
        </div>
      </th>
      <th>
        <div class="p-d-flex p-jc-between p-ai-center">
          Technology
          <p-columnFilter field="technologies" matchMode="in" display="menu" [showMatchModes]="false"
            [showOperator]="false" [showAddButton]="false">
            <ng-template pTemplate="header">
              <div class="p-px-3 p-pt-3 p-pb-0">
                <span class="p-text-bold">Choose Technology</span>
              </div>
            </ng-template>
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-multiSelect [ngModel]="value" [options]="technologiesforflter" placeholder="Any"
                (onChange)="filter($event.value)" optionLabel="name">
                <ng-template let-option pTemplate="item">
                  <div class="p-multiselect-representative-option">
                    <span class="p-ml-1">{{option.name}}</span>
                  </div>
                </ng-template>
              </p-multiSelect>
            </ng-template>
          </p-columnFilter>
        </div>
      </th>
      <th>
        <div class="p-d-flex p-jc-between p-ai-center">
          Visa Type
          <p-columnFilter type="text" field="visaType" display="menu"></p-columnFilter>
        </div>
      </th>
      <th>
        <div class="p-d-flex p-jc-between p-ai-center">
          Rate
          <p-columnFilter type="numeric" field="rate" display="menu" currency="USD"></p-columnFilter>
        </div>
      </th>
      <th>
        <div class="p-d-flex p-jc-between p-ai-center">
          Exp
          <p-columnFilter type="numeric" field="experience" display="menu"></p-columnFilter>
        </div>
      </th>
      <th>
        <div class="p-d-flex p-jc-between p-ai-center">
          SSN
          <p-columnFilter type="numeric" field="state" display="menu"></p-columnFilter>
        </div>
      </th>

    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-consultant let-expanded="expanded">
    <tr>
      <td>
        <button type="button" pButton pRipple [pRowToggler]="consultant"
          class="p-button-text p-button-rounded p-button-plain"
          [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>

      </td>

      <td>

        <!--  <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
      (click)="deleteProduct(consultant)"></button> -->

        <span *ngIf="consultant.priority=='High'">
          <button pButton pRipple data-toggle="tooltip" title="{{consultant.priority}} Priority" icon="pi pi-star"
            class="btn-length p-button-rounded p-button-warning"
            style="color:Green;background:#fff;border: none;"></button>
        </span>
        <span *ngIf="consultant.priority=='Medium'">
          <button pButton pRipple data-toggle="tooltip" title="{{consultant.priority}} Priority" icon="pi pi-star"
            class="btn-length p-button-rounded p-button-warning"
            style="color:#ffc107;background:#fff;border: none;"></button>
        </span>
        <span *ngIf="consultant.priority=='Low'">
          <button pButton pRipple data-toggle="tooltip" title="{{consultant.priority}} Priority" icon="pi pi-star"
            class="btn-length p-button-rounded p-button-warning"
            style="color:red;background:#fff;border: none;"></button>
        </span>
        <span>
          {{consultant.user.name}}<br>
          {{consultant.created_at | date: 'MM/dd/yyyy'}}</span>
      </td>
      <td>
        {{consultant.name}}
      </td>
      <td>
        <span [class]="'customer-badge status-' + consultant.consultant_status">{{consultant.consultant_status}}</span>
      </td>
      <td class="ui-resizable-column">
        <span class="image-text">{{consultant.consultant_email}}</span>
      </td>
      <td>
        {{consultant.consultant_mobile_number}}
      </td>
      <td>
        <span class="image-text">{{consultant.technologies.name}}</span>
      </td>
      <td>
        {{consultant.visaType }}
      </td>
      <td>
        {{consultant.rate | currency:'USD':'symbol'}}
      </td>
      <td>
        {{consultant.experience}}
      </td>
      <td>
        {{consultant.ssn}}
      </td>


    </tr>
  </ng-template>
  <ng-template pTemplate="rowexpansion" let-product>
    <tr>
      <td colspan="12">
        <div class="p-p-3">
          <p-table [value]="product.submissions" dataKey="id">
            <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="user_details.name">Created By <p-sortIcon field="user_details.name"></p-sortIcon>
      </th>
      <th pSortableColumn="contact_list.companies.name">Vendor Company <p-sortIcon field="contact_list.companies.name">
        </p-sortIcon>
      </th>
      <th pSortableColumn="contact_list.contactName">Vendor Contact Name <p-sortIcon field="contact_list.contactName">
        </p-sortIcon>
      </th>
      <th pSortableColumn="clients.name">End Client <p-sortIcon field="clients.name"></p-sortIcon>
      </th>
      <th pSortableColumn="submissionRate">Submission Rate<p-sortIcon field="submissionRate"></p-sortIcon>
      </th>
      <th pSortableColumn="submissionStatus">Submission Status<p-sortIcon field="submissionStatus"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-submission>
    <tr>
      <td>{{submission.user_details.name}}</td>

      <td>{{submission.contact_list.companies.name}}</td>

      <td>{{submission.contact_list.contactName}}</td>
      <td>{{submission.clients.name}}</td>
      <td>{{submission.submissionRate}}</td>
      <td>{{submission.submissionStatus}}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="12">There are no submissions for this Consultant yet.</td>
    </tr>
  </ng-template>
</p-table>
</div>
</td>
</tr>
</ng-template>
</p-table>
